h1 {
  text-align: center;
  font-size: 70px !important;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

body{
  /* background-color: rgb(255, 236, 172); */
  background-position: center;
  background-size: cover;
  margin: auto;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('img/wallp2.jpg');
  /* background-color: white; */
}

#content{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  position: relative;
  min-height: 80vh;
  width: 80%;
  top:20%;
  left:50%;
  transform: translateX(-50%);
  color: rgb(105, 60, 0);
}

#leiras {
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  font-size: 30px;
  margin-bottom: 25px;
}

#menu{
  height: 60px;
  text-align: center;
  position: sticky;
  top: 0px;
  background-image: linear-gradient(to right top, #779c04, #7cab2a, #80ba43, #84ca5a, #89d971, #89d971, #89d971, #89d971, #84ca5a, #80ba43, #7cab2a, #779c04);
  z-index: 1;
}

#menu ul{
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

#menu li{
  display: inline;
  list-style-type: none;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 30px;
  border-right: 1px solid rgb(255, 236, 172);
  font-family: 'Dancing Script', cursive;
}
#menu li:last-child{
  border-right: 0;
}

#menu a,
#menu a:link,
#menu a:visited{
  color: #114700;
  text-decoration: none;
}

#menu a:hover{
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
}
/*
.imgmap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
*/

.container{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
/*
.cardbody img{
  float: left;
  vertical-align: middle;
  padding-right: 2vh;
}
*/
.card{
  background-color: #29221A !important;
  overflow: hidden;
  border-radius: 10px;
  width: 400px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 90px;
  color: #ffffff;
}

.card img{
  margin: auto;
  margin-top: 5px;
  display:flex;
  max-height: 200px;
  max-width: 400px;
}

/* 
.card h1{
  margin: 0;
}

.card p{
  font-size: 25px;
  text-align: justify;
  padding-left: 25px;
} */


.content{
  position: relative;
}