h1 {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

body{
    background-color: rgb(255, 236, 172);
    background-position: center;
    background-size: cover;
    margin: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('./img/wallp2.jpg');
    /* background-color: white; */
}

#content{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    position: relative;
    min-height: 30vh;
    width: 70%;
    top:20%;
    left:50%;
    transform: translateX(-50%);
    color: rgb(105, 60, 0);
}

#leiras {
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    font-size: 30px;
}

#menu{
    height: 60px;
    text-align: center;
    position: sticky;
    top: 0px;
    background-image: linear-gradient(to right top, #779c04, #7cab2a, #80ba43, #84ca5a, #89d971, #89d971, #89d971, #89d971, #84ca5a, #80ba43, #7cab2a, #779c04);
    z-index: 1;
}

#menu ul{
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

#menu li{
    display: inline;
    list-style-type: none;
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 30px;
    border-right: 1px solid rgb(255, 236, 172);
}
#menu li:last-child{
    border-right: 0;
}

#menu a,
#menu a:link,
#menu a:visited{
    color: #114700;
    text-decoration: none;
}

#menu a:hover{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
}

footer{
    background-color: #29221A;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 1rem;
}

#container{
    display: flex;
    justify-content: left;
    margin: 0 auto;
    flex-wrap: wrap;
}

.card{
    background-color: #29221A;
    overflow: hidden;
    border-radius: 10px;
    width: 1000px;
    margin-left: 20px;
    margin-right: 20px;
    /* margin-top: 30px; */
    margin-bottom: 30px;
    color: rgb(255, 236, 172);
    height: 360px;
}

.card-header{
    margin: 0;
    font-size: 40px;
    text-align: center;
    background-color: #7cab2a;
    margin: 10px;
    padding: 5px;
}

.card p{
    font-size: 25px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 8px;
    text-align: left;
}

.card img{
    float: left;
    margin: auto;
    display:flex;
    width: 400px;
    height: 250px;
    margin: 10px;
    border: 2px solid #bfdf0ad8;
    border-radius: 5px;
}

body{
    background-image: url("/img-wallpapers/programok.png");
    background-position: center;
    background-repeat: repeat;
    background-size: 100vh;
}